h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: Bold;
  color: white;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color:white;
}

.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}
